@import url('common.css');
@import url('nav.css');

.info_area {
    background: #f9f9f9; width: 100%; position: relative; left: 0; padding: 10px 0; 
    display: flex; justify-content: center; align-items: center; margin-top: 95px;
}
.info_area span, .fa-circle-info {
    font-size: 14px;
}
.info_area .fa-solid {
    color: #ccc; margin: 0 5px;
}
.info_area .fa-chevron-right {
    font-size: 10px;
}

.chanel_area {
    padding-top: 0;
}
.chanel_area .chanel {
    display: flex; align-items: center; padding: 10px 0;
}
.chanel_area .chanel_list img {
    border-radius: 20px; width: 55px; margin-right: 15px;
}
.chanel_area .chanel_column {
    flex: 1 1 0; 
}
.chanel_area .chanel_list .name {
    font-weight: 500; font-size: 18px;
}
.chanel_area .chanel_wrapper {
border-top: 1px solid #eee; padding: 10px 0;
}
.chanel_area .title_box {
display: flex; justify-content: space-between; color: #999; font-size: 11px; 
align-items: center; margin-bottom: 2px;
}
.chanel_area .title {
font-weight: 400; 
}
.chanel_area .chanel_wrapper .chanel {
padding: 8px 0;
}
.chanel_area .chanel_wrapper img {
width: 38px; border-radius: 12px; margin-right: 12px;
}
.chanel_area .chanel_wrapper .name {
font-size: 13px;
}
.chanel_area .chanel_length {
    display: flex; color: #999; font-size: 13px; align-items: center;
}
.chanel_area .chanel_length .fa-chevron-right {
    font-size: 11px; margin-left: 5px;
}
